Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-WTF
Flask-Login
Flask-Cors
Flask-RESTful
gunicorn
python-dotenv
flask_jwt_extended

google-generativeai
ollama
langchain_chroma
langchain
faiss-cpu
Pillow
pycocotools
roboflow

ipykernel

torch
torchvision
tensorflow
torchaudio
# detectron2
transformers

numpy
pandas
matplotlib
scikit-learn
tqdm
requests

opencv-python
opencv-python-headless==4.9.0.80



