Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-WTF
Flask-Login
Flask-Cors
Flask-RESTful
gunicorn
python-dotenv
flask_jwt_extended

google-generativeai
ollama
langchain_chroma
langchain
faiss-cpu
Pillow

ipykernel

torch==2.2.1
torchvision==0.17.1
tensorflow>=2.16.0

numpy
pandas
matplotlib
scikit-learn
tqdm
requests

opencv-python
opencv-python-headless==4.9.0.80



