fastapi
uvicorn
pillow
transformers
torch
matplotlib
torchvision
scikit-learn
numpy
tensorflow
ipykernel  # if you're still using Jupyter locally
python-multipart  # for uploading images/files via FastAPI
scalar-fastapi  # optional: for pretty API docs
